doctype html
html
    head
        title 首页
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/title.css')

    body
        div(class="navbar")
            div(class="navbar-content")
                a(href="#",class="logo")
                    img(src="/img/logo.png", alt="logo")
                ul(class="menu")
                    li 
                        a(href="#") 首页
                ul(class="menu")
                    li
                        a(href="#") 登录
                    li 
                        a(href="#") 注册


        
        