.navbar{
    height: 60px;
    background-color: #1d365d;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar-content{
    width: 996px;
    margin: 0 auto;
    height: 100%;
}

.menu li{
    float: left
}

.menu li a{
    height: 60px;
    color: #b9c8e0;
    display: block;
    line-height: 60px;
    text-decoration: none;
    font-size: 15px;
}

.menu li+li{
    margin-left: 20px;
}

.menu li a:hover{
    color: #fff;
}

.navbar-content ul:last-child{
    float: right;
}

.logo{
    float: left;
    margin-right: 50px;
    text-align: center;
}
.logo img{
    height: 50px;
}